#username {
    height: 30px;
    width: 200px;
}

#inputBox {
    display: flex;
    flex-direction: column;
}

#inputContainer {
    display: flex;
}

button {
    height: 35px;
    margin-left: 10px;
    width: 100px;
    background-color: skyblue;
    color: white;
    font-weight: 600;
    font-size: 15px;
    border: 0;
    border-radius: 3px;
    align-self: flex-end;
}

input {
    padding-left: 5px;
}

label {
    margin-bottom: 5px;
}